*
!.gitignore
!README.md
!requirements.txt
!*.py
!image_captioning_goya_smolvlm.ipynb
!data
!data/clean
!data/clean/Q59260209.jpg
!data/clean/Q64956388.jpg
!data/clean/Q64956396.jpg
!data/clean/Q59260209_small.jpg
!data/clean/Q64956388_small.jpg
!data/clean/Q64956396_small.jpg
!data/clean/Q3211825.jpg
!data/clean/Q64956270.jpg
!data/clean/Q64956282.jpg
!data/clean/Q64956236.jpg
!data/clean/Q65223795.jpg
!data/clean/Q64956205.jpg
!data/save
!data/save/metadata.csv